<!DOCTYPE html>
<div style="width: 100%; height: 100%; position: relative; background: white">
    <div style="width: 1440px; height: 62px; left: 0px; top: 0px; position: absolute">
        <div style="width: 1440px; height: 62px; left: 0px; top: 0px; position: absolute; background: #439EC2"></div>
        <div style="width: 87.06px; height: 16.17px; left: 749.52px; top: 25.16px; position: absolute; color: white; font-size: 15px; font-family: Roboto; font-weight: 700; word-wrap: break-word">0389590258</div>
        <div style="width: 169.12px; height: 16.17px; left: 448.31px; top: 23.36px; position: absolute; color: white; font-size: 15px; font-family: Roboto; font-weight: 700; word-wrap: break-word">pethopehcm@gmail.com</div>
        <div style="width: 251.17px; height: 16.17px; left: 86.06px; top: 23.36px; position: absolute; color: white; font-size: 15px; font-family: Roboto; font-weight: 700; word-wrap: break-word">QUẬN 12, THÀNH PHỐ HỒ CHÍ MINH</div>
        <img style="width: 30.02px; height: 26.96px; left: 41.03px; top: 17.07px; position: absolute" src="{% static 'img/Map Marker.png' %}" />
        <img style="width: 30.02px; height: 26.96px; left: 404.28px; top: 17.97px; position: absolute" src="{% static 'img/Gmail Logo.png' %}" />
        <img style="width: 30.02px; height: 26.96px; left: 705.49px; top: 17.07px; position: absolute" src="{% static 'img/phone.png' %}" />
        <img style="width: 55.04px; height: 31.45px; left: 1365.95px; top: 17.97px; position: absolute" src="{% static 'img/vietnam 1.png' %}" />
</div>
    <img style="width: 102px; height: 68px; left: 33px; top: 91px; position: absolute" src="{% static 'img/pet-removebg-preview.png'}" />
    <div style="left: 256px; top: 112px; position: absolute; justify-content: flex-start; align-items: center; gap: 81px; display: inline-flex">
        <div style="color: #797777; font-size: 16px; font-family: Roboto; font-weight: 700; word-wrap: break-word">TRANG CHỦ</div>
        <div style="color: #797777; font-size: 16px; font-family: Roboto; font-weight: 700; word-wrap: break-word">NHẬN NUÔI</div>
        <div style="color: black; font-size: 16px; font-family: Roboto; font-weight: 700; word-wrap: break-word">ỦNG HỘ - ĐÓNG GÓP</div>
        <div style="color: #797777; font-size: 16px; font-family: Roboto; font-weight: 700; word-wrap: break-word">TIN TỨC - SỰ KIỆN</div>
        <div style="color: #797777; font-size: 16px; font-family: Roboto; font-weight: 700; word-wrap: break-word">VỀ CHÚNG TÔI</div>
    </div>
    <img style="width: 306px; height: 284px; left: 135px; top: 233px; position: absolute; border-radius: 9999px" src="{% static 'img/lo-quy-tu-thien-give-account.png' %}}" />
    <div style="width: 617px; height: 86.11px; left: 492px; top: 422.89px; position: absolute">
        <div style="width: 617px; height: 86.11px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 40px; border: 1px #DD2AAA solid"></div>
        <div style="width: 609px; height: 79.11px; left: 5.24px; top: 3.50px; position: absolute; background: linear-gradient(90deg, #F64DC6 0%, #7373FF 100%); border-radius: 40px"></div>
        <div style="width: 249px; height: 27px; left: 190px; top: 23.11px; position: absolute; color: white; font-size: 32px; font-family: Roboto; font-weight: 700; word-wrap: break-word"> {{ balance }} VND</div>
    </div>
    <div style="width: 361px; height: 71px; left: 641px; top: 350px; position: absolute; color: black; font-size: 32px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Quỹ thú cưng hiện tại</div>
    <div style="left: 129px; top: 633px; position: absolute; color: black; font-size: 32px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Phân bổ quỹ</div>
    <div style="width: 368px; height: 343px; left: 30px; top: 680px; position: absolute">
    <div style="width: 360.45px; height: 330.85px; left: 7.59px; top: 4.63px; position: absolute">
        <div style="width: 326.30px; height: 323.33px; left: 17.07px; top: 3.76px; position: absolute; background: conic-gradient(#FFAE4C 0% 40%, #FF928A 40% 55%, #3CC3DF 55% 90%, #537FF1 90% 100%); border-radius: 9999px;"></div>
    </div>
    <div style="width: 135px; height: 257.20px; left: 61.35px; top: 59px; position: absolute">
        <div style="width: 130px; height: 14.10px; left: 145px; top: 105px; position: absolute; color: white; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Chăm sóc thú cưng</div>
        <div style="width: 93px; height: 28.20px; left: 110px; top: 200px; position: absolute; color: white; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Quản lý sự kiện và gây quỹ</div>
        <div style="left: -5px; top: 110px; position: absolute; color: white; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Y tế và chữa bệnh</div>
        <div style="left: 72px; top: -15px; position: absolute; color: white; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Quản lý và vận hành</div>
    </div>
    </div>

    <div style="width: 180px; left: 392px; top: 894px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
    <!-- Dấu chấm được chèn vào trước mỗi phần tử -->
    <div style="padding: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
        <div style="width: 8px; height: 8px; background: #FFAE4C; border-radius: 9999px; border: 1px white solid"></div>
        <div style="color: rgba(0, 0, 0, 0.70); font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Chăm sóc thú cưng</div>
    </div>
    
    <div style="padding: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
        <div style="width: 8px; height: 8px; background: #FF928A; border-radius: 9999px; border: 1px white solid"></div>
        <div style="color: rgba(0, 0, 0, 0.70); font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Quản lý sự kiện và gây quỹ</div>
    </div>
    
    <div style="padding: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
        <div style="width: 8px; height: 8px; background: #3CC3DF; border-radius: 9999px; border: 1px white solid"></div>
        <div style="color: rgba(0, 0, 0, 0.70); font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Y tế và chữa bệnh</div>
    </div>
    
    <div style="padding: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
        <div style="width: 8px; height: 8px; background: #537FF1; border-radius: 9999px; border: 1px white solid"></div>
        <div style="color: rgba(0, 0, 0, 0.70); font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Quản lý và vận hành</div>
    </div>
    </div>
    
    <div style="width: 300px; left: 849px; top: 660px; position: absolute">
    <span style="color: black; font-size: 16px; font-family: Roboto; font-weight: 500; word-wrap: break-word">Danh sách những người ủng hộ: </span>
    <a href="https://uteduvn-my.sharepoint.com/:x:/g/personal/baohg3978_ut_edu_vn/EdwwWOeuFqVOl_afhHWWE8gBuI5myCvWLhOp_jyZle9AkQ?e=7wrHUu" target="_blank" style="color: #55B5DB; font-size: 16px; font-family: Roboto; font-weight: 700; word-wrap: break-word">xem tại đây</a>
    </div>

    <div style="width: 451px; left: 849px; top: 686px; position: absolute; color: black; font-size: 16px; font-family: Roboto; font-weight: 500; word-wrap: break-word">💖 Lời Cảm Ơn Từ Chúng Tôi   "Chúng tôi chân thành cảm ơn tất cả những tấm lòng nhân ái đã đóng góp và đồng hành cùng hành trình cứu hộ và chăm sóc thú cưng bị bỏ rơi. Sự hỗ trợ của bạn không chỉ là nguồn động lực to lớn mà còn giúp chúng tôi mang lại một mái ấm và tương lai tươi sáng hơn cho các bé thú cưng. Mỗi đóng góp của bạn đều tạo nên những điều kỳ diệu. Xin cảm ơn vì đã là một phần của hành trình ý nghĩa này!" </div>
    <div style="width: 263px; height: 65px; left: 966px; top: 941px; position: absolute">
        <div style="width: 263px; height: 65px; left: 0px; top: 0px; position: absolute; background: #55B5DB; border-radius: 10px"></div>
        <div style="width: 200px; left: 43px; top: 18px; position: absolute; color: white; font-size: 24px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Đóng góp ngay</div>
    </div>
    <div style="width: 622px; left: 793px; top: 907px; position: absolute; color: black; font-size: 16px; font-family: Roboto; font-weight: 500; word-wrap: break-word">Mỗi đóng góp của bạn đều giúp chúng tôi tiến gần hơn đến mục tiêu cứu hộ thú cưng</div>
</div>
